@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="text-2xl mb-4">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="change-password-form" method="post">
    <div class="flex flex-col gap-4">
        <div>
            <span>Current password</span>
            <input asp-for="Input.OldPassword" class="@TextBoxStyle" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.OldPassword" class="@ValidateStyle"></span>
        </div>
        <div>
            <span>New password</span>
            <input asp-for="Input.NewPassword" class="@TextBoxStyle" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.NewPassword" class="@ValidateStyle"></span>
        </div>
        <div>
            <span>Re-enter your new password</span>
            <input asp-for="Input.ConfirmPassword" class="@TextBoxStyle" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="@ValidateStyle"></span>
        </div>
        <button type="submit" class="p-2 border rounded w-48">Update password</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@functions {
    private string ValidateStyle = "text-rose-400 font-medium";
    private string TextBoxStyle = "border p-2 w-full";
}